html {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

body {
  height: 800px;
  margin: 0 auto;
  width: 1000px;
}

path {
  fill: none;
  stroke-width: 3px;
  stroke-linejoin: round;

  &.subscribers{
    stroke: #8bc34a;
    opacity: .5;
  }

  &.gridline {
    stroke: #AAA;
    opacity: .25;
    stroke-width: 2px;
  }
}

circle {
  //stroke: #CCC;
  //stroke-width: 2px;
  &.pubSites {
    //fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
  }

  &.employees {
    opacity: .5;
  }

}
//
//circle {
//  fill: white;
//  opacity: .5;
//}